<!DOCTYPE html>
<html>
<head>
	<title>Entertainment Director</title>
	<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"></script>
	<script type="text/javascript">
    $(document).ready(function(){
      $("#activity").focus();
    });
	</script>
</head>
<body>
	<h1>Here's something you can do:</h1>
	<br/>
	<h2><%= @activity%></h2>
	
	<hr/>
	
	<form action="add" method="post">
	Activity: <input id="activity" type="text" name="activity">
	<input type="submit" value="Add Activity">
	</form>
</body>
</html>
